In [516]:
import pandas as pd
from itertools import chain
import numpy as np

In [517]:
meses = [
'ENERO',
'FEBRERO',
'MARZO',
'ABRIL',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE',
 'NOVIEMBRE',
 'DICIEMBRE']
rangosHora = None
year = 2015

Importación de datos de excel desde 2013 - 2019

In [518]:
xlsx = pd.ExcelFile('../Aforo Biblioteca Proyecto Maestría/Ingreso a edificio '+year+'.xlsx', engine='openpyxl')

In [519]:
def tratarHoja (hoja):   
    global rangosHora 
    hoja = hoja.iloc[1:, 1:len(hoja.columns)-1]
    hoja = hoja.T
    hoja.columns = hoja.iloc[0]
    colTotal = list(hoja.columns).index('TOTAL')
    hoja = hoja.iloc[1:,0:colTotal]
    rangosHora = ['Hora_'+s.replace(" ", "").replace(" am", "").replace(" pm", "").replace("-", "a") for s in hoja.columns[1:7]]
    hoja.columns = ['Dia'] + rangosHora
    return hoja

In [533]:
def resumirHoja(hoja,mes,year):
    global rangosHora
    hoja['Personas'] = [tuple(x) for x in (hoja[rangosHora]).values]
    hoja['Dia'] = hoja['Dia'].astype(int).astype(str)
    lens = list(map(len, hoja.Personas))
    res = pd.DataFrame({'Dia': np.repeat(hoja.Dia,lens),
                        'Mes':np.tile([mes],len(lens)*len(rangosHora)),
                        'Año':np.tile([year],len(lens)*len(rangosHora)),
                        'RangoHora': np.tile(rangosHora,len(lens)),
                        'Aforo': list(chain.from_iterable(hoja.Personas))})
    return res

In [534]:
hojas = [x.upper() for x in xlsx.sheet_names if x in meses]
for mes in hojas:
    hoja = pd.read_excel(xlsx, mes, year)
    hoja = tratarHoja(hoja)
    res = resumirHoja(hoja,mes, year)
    print(res)

            Dia    Mes    RangoHora  Aforo
Unnamed: 2   14  ENERO   Hora_0a6am    0.0
Unnamed: 2   14  ENERO   Hora_6a9am    9.0
Unnamed: 2   14  ENERO   Hora_9a2pm    0.0
Unnamed: 2   14  ENERO   Hora_2a6pm    0.0
Unnamed: 2   14  ENERO   Hora_6a8pm    0.0
...          ..    ...          ...    ...
Unnamed: 18  31  ENERO   Hora_6a9am   46.0
Unnamed: 18  31  ENERO   Hora_9a2pm  245.0
Unnamed: 18  31  ENERO   Hora_2a6pm   82.0
Unnamed: 18  31  ENERO   Hora_6a8pm    5.0
Unnamed: 18  31  ENERO  Hora_8a12pm    0.0

[102 rows x 4 columns]
            Dia      Mes    RangoHora  Aforo
Unnamed: 2    1  FEBRERO   Hora_0a6am    0.0
Unnamed: 2    1  FEBRERO   Hora_6a9am    0.0
Unnamed: 2    1  FEBRERO   Hora_9a2pm    0.0
Unnamed: 2    1  FEBRERO   Hora_2a6pm    0.0
Unnamed: 2    1  FEBRERO   Hora_6a8pm    0.0
...          ..      ...          ...    ...
Unnamed: 28  28  FEBRERO   Hora_6a9am   74.0
Unnamed: 28  28  FEBRERO   Hora_9a2pm  415.0
Unnamed: 28  28  FEBRERO   Hora_2a6pm  149.0
Unnamed: 28  28  FEBRERO   Hora_6a8pm    4.0
Unnamed: 28  28  FEBRERO  Hora_8a12pm    0.0

[162 rows x 4 columns]
            Dia    Mes    RangoHora   Aforo
Unnamed: 2    2  MARZO   Hora_0a6am     0.0
Unnamed: 2    2  MARZO   Hora_6a9am   509.0
Unnamed: 2    2  MARZO   Hora_9a2pm  1819.0
Unnamed: 2    2  MARZO   Hora_2a6pm  1073.0
Unnamed: 2    2  MARZO   Hora_6a8pm   143.0
...          ..    ...          ...     ...
Unnamed: 26  31  MARZO   Hora_6a9am     9.0
Unnamed: 26  31  MARZO   Hora_9a2pm    36.0
Unnamed: 26  31  MARZO   Hora_2a6pm    36.0
Unnamed: 26  31  MARZO   Hora_6a8pm     0.0
Unnamed: 26  31  MARZO  Hora_8a12pm     0.0

[150 rows x 4 columns]
            Dia    Mes    RangoHora   Aforo
Unnamed: 2    1  ABRIL   Hora_0a6am     0.0
Unnamed: 2    1  ABRIL   Hora_6a9am     7.0
Unnamed: 2    1  ABRIL   Hora_9a2pm    24.0
Unnamed: 2    1  ABRIL   Hora_2a6pm    11.0
Unnamed: 2    1  ABRIL   Hora_6a8pm     0.0
...          ..    ...          ...     ...
Unnamed: 28  30  ABRIL   Hora_6a9am   277.0
Unnamed: 28  30  ABRIL   Hora_9a2pm  1237.0
Unnamed: 28  30  ABRIL   Hora_2a6pm   601.0
Unnamed: 28  30  ABRIL   Hora_6a8pm    74.0
Unnamed: 28  30  ABRIL  Hora_8a12pm     8.0

[162 rows x 4 columns]
            Dia   Mes    RangoHora  Aforo
Unnamed: 2    1  MAYO   Hora_0a6am    0.0
Unnamed: 2    1  MAYO   Hora_6a9am    0.0
Unnamed: 2    1  MAYO   Hora_9a2pm    7.0
Unnamed: 2    1  MAYO   Hora_2a6pm    0.0
Unnamed: 2    1  MAYO   Hora_6a8pm    0.0
...          ..   ...          ...    ...
Unnamed: 28  31  MAYO   Hora_6a9am    0.0
Unnamed: 28  31  MAYO   Hora_9a2pm   29.0
Unnamed: 28  31  MAYO   Hora_2a6pm   38.0
Unnamed: 28  31  MAYO   Hora_6a8pm    0.0
Unnamed: 28  31  MAYO  Hora_8a12pm    0.0

[162 rows x 4 columns]
            Dia    Mes    RangoHora   Aforo
Unnamed: 2    1  JUNIO   Hora_0a6am     3.0
Unnamed: 2    1  JUNIO   Hora_6a9am   362.0
Unnamed: 2    1  JUNIO   Hora_9a2pm  1387.0
Unnamed: 2    1  JUNIO   Hora_2a6pm   677.0
Unnamed: 2    1  JUNIO   Hora_6a8pm   138.0
...          ..    ...          ...     ...
Unnamed: 27  30  JUNIO   Hora_6a9am    17.0
Unnamed: 27  30  JUNIO   Hora_9a2pm    20.0
Unnamed: 27  30  JUNIO   Hora_2a6pm    19.0
Unnamed: 27  30  JUNIO   Hora_6a8pm     1.0
Unnamed: 27  30  JUNIO  Hora_8a12pm     0.0

[156 rows x 4 columns]
            Dia    Mes    RangoHora   Aforo
Unnamed: 2    1  JULIO   Hora_0a6am     0.0
Unnamed: 2    1  JULIO   Hora_6a9am    13.0
Unnamed: 2    1  JULIO   Hora_9a2pm    11.0
Unnamed: 2    1  JULIO   Hora_2a6pm     7.0
Unnamed: 2    1  JULIO   Hora_6a8pm     0.0
...          ..    ...          ...     ...
Unnamed: 30  31  JULIO   Hora_6a9am   333.0
Unnamed: 30  31  JULIO   Hora_9a2pm  1300.0
Unnamed: 30  31  JULIO   Hora_2a6pm   444.0
Unnamed: 30  31  JULIO   Hora_6a8pm    45.0
Unnamed: 30  31  JULIO  Hora_8a12pm     9.0

[174 rows x 4 columns]
            Dia     Mes    RangoHora   Aforo
Unnamed: 2    1  AGOSTO   Hora_0a6am     0.0
Unnamed: 2    1  AGOSTO   Hora_6a9am    31.0
Unnamed: 2    1  AGOSTO   Hora_9a2pm   218.0
Unnamed: 2    1  AGOSTO   Hora_2a6pm   114.0
Unnamed: 2    1  AGOSTO   Hora_6a8pm     9.0
...          ..     ...          ...     ...
Unnamed: 29  31  AGOSTO   Hora_6a9am   423.0
Unnamed: 29  31  AGOSTO   Hora_9a2pm  1829.0
Unnamed: 29  31  AGOSTO   Hora_2a6pm  1128.0
Unnamed: 29  31  AGOSTO   Hora_6a8pm   177.0
Unnamed: 29  31  AGOSTO  Hora_8a12pm    17.0

[168 rows x 4 columns]
            Dia         Mes    RangoHora   Aforo
Unnamed: 2    1  SEPTIEMBRE   Hora_0a6am     2.0
Unnamed: 2    1  SEPTIEMBRE   Hora_6a9am   451.0
Unnamed: 2    1  SEPTIEMBRE   Hora_9a2pm  1595.0
Unnamed: 2    1  SEPTIEMBRE   Hora_2a6pm   858.0
Unnamed: 2    1  SEPTIEMBRE   Hora_6a8pm   137.0
...          ..         ...          ...     ...
Unnamed: 28  30  SEPTIEMBRE   Hora_6a9am   356.0
Unnamed: 28  30  SEPTIEMBRE   Hora_9a2pm  1528.0
Unnamed: 28  30  SEPTIEMBRE   Hora_2a6pm   907.0
Unnamed: 28  30  SEPTIEMBRE   Hora_6a8pm   134.0
Unnamed: 28  30  SEPTIEMBRE  Hora_8a12pm     9.0

[162 rows x 4 columns]

KeyboardInterrupt:

In [522]:
abril

,Dia,Hora_0a6,Hora_6a9,Hora_9a14,Hora_14a18,Hora_18a24,Personas
Unnamed: 2,1,34,360,267,106,0,"(34, 360, 267, 106, 0)"
Unnamed: 3,2.0,101.0,1041.0,985.0,375.0,0.0,"(101.0, 1041.0, 985.0, 375.0, 0.0)"
Unnamed: 4,3.0,104.0,988.0,963.0,351.0,0.0,"(104.0, 988.0, 963.0, 351.0, 0.0)"
Unnamed: 5,4.0,105.0,894.0,847.0,371.0,0.0,"(105.0, 894.0, 847.0, 371.0, 0.0)"
Unnamed: 6,5.0,120.0,821.0,592.0,234.0,0.0,"(120.0, 821.0, 592.0, 234.0, 0.0)"
Unnamed: 7,6.0,10.0,243.0,148.0,22.0,0.0,"(10.0, 243.0, 148.0, 22.0, 0.0)"
Unnamed: 8,8.0,92.0,931.0,856.0,343.0,0.0,"(92.0, 931.0, 856.0, 343.0, 0.0)"
Unnamed: 9,9.0,93.0,1182.0,973.0,362.0,0.0,"(93.0, 1182.0, 973.0, 362.0, 0.0)"
Unnamed: 10,10.0,90.0,1010.0,768.0,363.0,0.0,"(90.0, 1010.0, 768.0, 363.0, 0.0)"
Unnamed: 11,11.0,105.0,991.0,845.0,332.0,0.0,"(105.0, 991.0, 845.0, 332.0, 0.0)"
Unnamed: 12,12.0,115.0,917.0,727.0,289.0,0.0,"(115.0, 917.0, 727.0, 289.0, 0.0)"
Unnamed: 13,13.0,25.0,202.0,291.0,22.0,0.0,"(25.0, 202.0, 291.0, 22.0, 0.0)"
Unnamed: 14,15.0,125.0,1135.0,981.0,364.0,0.0,"(125.0, 1135.0, 981.0, 364.0, 0.0)"
Unnamed: 15,16.0,126.0,1271.0,1115.0,485.0,0.0,"(126.0, 1271.0, 1115.0, 485.0, 0.0)"
Unnamed: 16,17.0,129.0,1224.0,1017.0,399.0,0.0,"(129.0, 1224.0, 1017.0, 399.0, 0.0)"
Unnamed: 17,18.0,136.0,1037.0,1080.0,395.0,0.0,"(136.0, 1037.0, 1080.0, 395.0, 0.0)"
Unnamed: 18,19.0,135.0,982.0,727.0,218.0,0.0,"(135.0, 982.0, 727.0, 218.0, 0.0)"
Unnamed: 19,20.0,15.0,168.0,188.0,14.0,0.0,"(15.0, 168.0, 188.0, 14.0, 0.0)"
Unnamed: 20,21.0,1.0,0.0,0.0,1.0,0.0,"(1.0, 0.0, 0.0, 1.0, 0.0)"
Unnamed: 21,22.0,111.0,1033.0,874.0,344.0,0.0,"(111.0, 1033.0, 874.0, 344.0, 0.0)"
Unnamed: 22,23.0,85.0,1161.0,1015.0,344.0,0.0,"(85.0, 1161.0, 1015.0, 344.0, 0.0)"
Unnamed: 23,24.0,103.0,978.0,797.0,343.0,0.0,"(103.0, 978.0, 797.0, 343.0, 0.0)"
Unnamed: 24,25.0,111.0,886.0,965.0,315.0,0.0,"(111.0, 886.0, 965.0, 315.0, 0.0)"
Unnamed: 25,26.0,110.0,724.0,489.0,192.0,0.0,"(110.0, 724.0, 489.0, 192.0, 0.0)"
Unnamed: 26,27.0,19.0,190.0,116.0,11.0,0.0,"(19.0, 190.0, 116.0, 11.0, 0.0)"
Unnamed: 27,29.0,87.0,777.0,209.0,196.0,0.0,"(87.0, 777.0, 209.0, 196.0, 0.0)"
Unnamed: 28,30.0,87.0,872.0,802.0,307.0,0.0,"(87.0, 872.0, 802.0, 307.0, 0.0)"

In [523]:
res

                      Dia    RangoHora  Aforo
Unnamed: 2    1-DICIEMBRE   Hora_0a6am    1.0
Unnamed: 2    1-DICIEMBRE   Hora_6a9am  173.0
Unnamed: 2    1-DICIEMBRE   Hora_9a2pm  741.0
Unnamed: 2    1-DICIEMBRE   Hora_2a6pm  387.0
Unnamed: 2    1-DICIEMBRE   Hora_6a8pm   27.0
...                   ...          ...    ...
Unnamed: 17  18-DICIEMBRE   Hora_6a9am   94.0
Unnamed: 17  18-DICIEMBRE   Hora_9a2pm  327.0
Unnamed: 17  18-DICIEMBRE   Hora_2a6pm   44.0
Unnamed: 17  18-DICIEMBRE   Hora_6a8pm    0.0
Unnamed: 17  18-DICIEMBRE  Hora_8a12pm    0.0

[96 rows x 3 columns]